{% extends "base.html" %}

{% block body %}

<div class="container">
  <h1>Welcome back!</h1>
  <form method="POST" action="{% url 'account:login' %}">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="text-start">
        <p>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small style="color:grey;">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color:red;">{{ error }}</p>
          {% endfor %}
        </p>
      </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
      <div style="display:none;">{{ field }}</div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="d-grid mt-2">
      <button class="btn btn-lg btn-primary" role="button" type="submit">Log in</button>
    </div>
  </form>

  {# Assumes you set up the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

{% endblock %}
