{% extends "base.html" %}

{% load static %}

{% block title %}Change Password{% endblock %}

{% block body %}
  <div class="container">
    <h1>Change Password</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    <!-- <p><a href="{% url 'password_change_done' %}">Cancel</a></p> -->
  </div>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
  $(document).ready(function() {
    $("input").addClass("form-control");
  });
</script>

{% endblock %}