{% extends "base.html" %}

{% block title %}Business Problem{% endblock %}

{% block head %}
<style>
  .quick-view-btn {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: opacity 0.3s ease;
  }
  .card:hover .quick-view-btn {
    opacity: 1;
  }
</style>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-2 order-md-2 d-flex justify-content-end">
      <div>
        <a class="btn me-2" href="{% url 'strategy:business_problem_edit' business_problem_id=problem.pk %}">
          <span class="material-symbols-outlined primary-hover">
            edit
          </span>
        </a>
      </div>
      <form action="{% url 'strategy:business_problem_delete' business_problem_id=problem.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">
          <span class="material-symbols-outlined danger-hover">
            delete
          </span>
        </button>
      </form>
    </div>
    <div class="col-12 col-md-10 order-md-1">
      <h1>{{ problem.summary }}</h1>
    </div>
  </div>
  {% if problem.time_period %}
    <i>Time period: {{ problem.time_period }}</i><br>
  {% endif %}
  <i>Teams: {{ problem.teams.all|join:", " }}</i>
  <p class="mt-2">{{ problem.description }}</p>
  <hr>
  <div id="assumption">
    <div class="d-flex justify-content-between">
      <h2>Assumptions</h2>
      <div>
        <button id="assumption-add-btn" type="button" class="btn btn-primary" onclick="addAssumptionForm(this)" 
          data-url="{% url 'strategy:assumption_create' business_problem_id=problem.pk %}">Add</button>
      </div>
    </div>
    <div id="assumptionList">
      {% for assumption in assumptions %}
        <div id="assumption{{assumption.pk}}" class="d-flex assumption-item">
          <p class="me-1 assumption{{assumption.pk}}-summary">{{ assumption.summary }}</p>
          <form class="assumption-del-form" action="{% url 'strategy:assumption_delete' assumption_id=assumption.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn p-0 m-0">
              <span class="material-symbols-outlined danger-hover">
                delete
              </span>
            </button>
          </form>
        </div>
      {% endfor %}
    </div>
  </div>
    
  <hr>

  <div class="d-flex justify-content-between">
    <h2>Strategies</h2>
    <div>
      <a class="btn btn-primary" href="{% url 'strategy:strategy_create' %}?business_problem_id={{problem.pk}}">Add</a>
    </div>
  </div>
  <div class="row row-cols-md-2" data-masonry='{"percentPosition": true }'>
    {% for strategy in strategies %}
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'strategy:strategy_detail' strategy_id=strategy.pk %}">{{ strategy.summary }}</a>
            <button class="btn quick-view-btn" data-bs-toggle="modal" data-bs-target="#modal" onclick="previewStrategy(this)" data-url="{% url 'strategy:strategy_preview' strategy_id=strategy.pk %}">
              <span class="material-symbols-outlined">
                preview
              </span>
            </button>
          </h5>
          <p class="card-text">{{ strategy.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% comment %}
  <!-- Form to choose a strategy. TODO: Figure out what this should look like. -->
    <form class="strategy-choose-form" action="{% url 'strategy:strategy_choose' strategy_id=strategy.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn p-0">
        <span class="material-symbols-outlined primary-hover">
          {% if strategy.is_chosen %}
            check_box
          {% else %}
            check_box_outline_blank
          {% endif %}
        </span>
      </button>
    </form>
  {% endcomment %}
</div>


<div id="assumption-template" class="d-flex assumption-item d-none">
  <p class="me-1"></p>
  <form class="assumption-del-form" action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn p-0 m-0">
      <span class="material-symbols-outlined danger-hover">
        delete
      </span>
    </button>
  </form>
</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript">
  function addAssumptionForm(identifier) {
    var url = $(identifier).data("url");
    $.ajax({
      url: url,
      data: {},
      dataType: "json",
      success: function (data) {
        $("#assumptionList").append(data.form);
        var form = $('#assumptionList').find('form').last();
        form.submit(function(event) {
          event.preventDefault();
          var formData = $(this).serialize();
          $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            success: function(response) {
              if (response.is_success) {
                var assumption = $("#assumption-template").clone();
                assumption.attr("id", `assumption${response.pk}`);
                assumption.find("form").attr("action", response.action);
                assumption.find("form").on("submit", deleteAssumption);
                assumption.find("p").text(form.find("#id_summary").val());
                assumption.find("p").addClass(`assumption${response.pk}-summary`);
                assumption.removeClass("d-none");
                form.parent("div").replaceWith(assumption);
                // TODO: Add toast success
              } else {
                // TODO: Proper error/message handling
                alert(response.msg);
              }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
            }
          });
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
  function deleteAssumption(event) {
    event.preventDefault();
    const form = $(this);
    const actionUrl = form.attr("action");
    const formData = form.serialize();
    $.ajax({
      type: 'POST',
      url: actionUrl,
      data: formData,
      success: function(response) {
        if (response.is_success) {
          form.closest(".assumption-item").remove();
          // TODO: Add toast success
        } else {
          alert(response.msg);
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
  function chooseStrategy(event) {
    event.preventDefault();
    const form = $(this);
    const actionUrl = form.attr("action");
    const formData = form.serialize();
    $.ajax({
      type: 'POST',
      url: actionUrl,
      data: formData,
      success: function(response) {
        if (response.is_success) {
          if (response.is_chosen) {
            form.find("span").text("check_box");
          } else {
            form.find("span").text("check_box_outline_blank");
          }
          // TODO: Add toast success
        } else {
          alert(response.msg);
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
  function previewStrategy(identifier) {
    $.ajax({
      url: $(identifier).data("url"),
      data: {},
      dataType: "json",
      success: function (data) {
        $("#modal-title").html(data.title);
        $("#modal-body").html(data.body);
        if (data.footer) {
          $("#modal-footer").html(data.footer);
          $("#modal-footer").removeClass("d-none")
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
  $(document).ready(function() {
    $(".assumption-del-form").on("submit", deleteAssumption);
    $(".strategy-choose-form").on("submit", chooseStrategy);
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

{% endblock %}