{% extends "base.html" %}

{% block title %}Criteria{% endblock %}

{% block body %}

<div class="container">
  <h1>Criteria</h1>
  <div class="d-flex">
    <div class="flex-fill p-1">
      <input class="form-control" type="text" id="searchInput" onkeyup="searchTable()"
        placeholder="Search...">
    </div>
    <div class="p-1">
      <button type="button" id="createCriteriaBtn" class="btn" data-bs-toggle="modal" data-bs-target="#modal" onclick="createCriterion(this)" data-url="{% url 'strategy:criterion_create' %}">
        <span class="material-symbols-outlined">
          add
        </span>
      </button>
    </div>
  </div>
  <table id="criterionTable" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    {% for criterion in criteria %}
      <tr>
        <td>
          <button type="button" id="editCriteriaBtn" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#modal" onclick="editCriterion(this)" data-url="{% url 'strategy:criterion_edit' criterion_id=criterion.pk %}">
            {{ criterion.name }}
          </button>
        </td>
        <td>{{ criterion.get_criterion_type_display }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  function createCriterion(identifier) {
    $.ajax({
      url: $(identifier).data("url"),
      data: {},
      dataType: "json",
      success: function (data) {
        $("#modal-title").html(data.title);
        $("#modal-body").html(data.body);
        if (data.footer) {
          $("#modal-footer").html(data.footer);
          $("#modal-footer").removeClass("d-none")
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
  function editCriterion(identifier) {
    $.ajax({
      url: $(identifier).data("url"),
      data: {},
      dataType: "json",
      success: function (data) {
        $("#modal-title").html(data.title);
        $("#modal-body").html(data.body);
        if (data.footer) {
          $("#modal-footer").html(data.footer);
          $("#modal-footer").removeClass("d-none")
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
</script>

{% endblock %}