{% extends "base.html" %}

{% block title %}Planning Event{% endblock %}

{% block head %}

<style>
  .action-column {
    width: 80px;
    text-align: center;
  }
</style>

{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-2 order-md-2 d-flex justify-content-end">
      <div>
        <a class="btn me-2" href="{% url 'strategy:planning_event_edit' planning_event_id=event.pk %}">
          <span class="material-symbols-outlined primary-hover">
            edit
          </span>
        </a>
      </div>
      <form action="{% url 'strategy:planning_event_delete' planning_event_id=event.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">
          <span class="material-symbols-outlined danger-hover">
            delete
          </span>
        </button>
      </form>
    </div>
    <div class="col-12 col-md-10 order-md-1">
      <h1>{{ event.name }}</h1>
    </div>
  </div>
  <div class="mt-2">
    <div class="d-flex justify-content-between">
      <h3>Criteria</h3>
      <!-- TODO: Add button to remove the form -->
      <button type="button" onclick="addCrtierion(this)" id="add-criterion-btn" class="btn"
        data-url="{% url 'strategy:criterion_weight_create' planning_event_id=event.pk %}">
        <span class="material-symbols-outlined primary-hover">
          add
        </span>
      </button>
    </div>
    <div id="criterionList">
      <table id="criteriaTable" class="table table-striped table-bordered table-sm table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Criteria</th>
            <th scope="col">Type</th>
            <th scope="col">Weight</th>
            <th scope="col" class="action-column">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for c in criteria %}
          <tr id="criterion-weight-{{c.pk}}">
            <td class="criterion-weight-name">{{ c.criterion.name }}</td>
            <td class="criterion-weight-type">{{ c.criterion.get_criterion_type_display }}</td>
            <td class="criterion-weight-weight">{{ c.weight }}</td>
            <td class="d-flex justify-content-center criterion-weight-actions">
              <button type="button" class="btn p-0 me-2" onclick="editCriterion(this)" data-bs-toggle="modal"
                data-bs-target="#modal"
                data-url="{% url 'strategy:criterion_weight_edit' planning_event_id=event.pk criterion_weight_id=c.pk %}">
                <span class="material-symbols-outlined primary-hover">
                  edit
                </span>
              </button>
              <form class="criterion-weight-del-form"
                action="{% url 'strategy:criterion_weight_delete' planning_event_id=event.pk criterion_weight_id=c.pk %}"
                method="post">
                {% csrf_token %}
                <button type="submit" class="btn p-0 m-0">
                  <span class="material-symbols-outlined danger-hover">
                    delete
                  </span>
                </button>
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">No criteria added yet.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-2">
    <div class="d-flex justify-content-between mb-2">
      <h3>Business Problems</h3>
      <div class="d-flex justify-content-between">
        <button type="button" onclick="associateBusinessProblem(this)" id="add-business-problem-btn" class="btn"
          data-url="{% url 'strategy:planning_event_business_problem_associate' planning_event_id=event.pk %}"
          data-bs-toggle="modal" data-bs-target="#modal">
          <span class="material-symbols-outlined primary-hover" data-bs-toggle="tooltip" data-bs-title="Add" data-bs-placement="bottom">
            add
          </span>
        </button>
        <a href="{% url 'strategy:planning_event_business_problem_score' planning_event_id=event.pk %}"
          class="btn" data-bs-toggle="tooltip" data-bs-title="Score" data-bs-placement="bottom">
          <span class="material-symbols-outlined">reviews</span>
        </a>
        <button id="bp-select-button" type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Choose" data-bs-placement="bottom">
          <span class="material-symbols-outlined">check_circle</span>
        </button>
        <button id="bp-cancel-button" type="button" class="btn btn-secondary ms-2" style="display: none;">Cancel</button>
        <button id="bp-save-button" type="button" class="btn btn-primary ms-2" style="display: none;">Save</button>
      </div>
    </div>
    <div id="businessProblemList">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th style="display: none;" id="bp-checkbox-header">Select</th>
            <th scope="col">Rank</th>
            <th scope="col">Summary</th>
            <th scope="col">Weighted Score</th>
            <th scope="col" class="action-column">Actions</th>
          </tr>
        </thead>
        <tbody id="sortable-rows">
          {% for b in business_problems %}
          <tr id="peba-{{b.pk}}" data-id="{{ b.pk }}">
            <td style="display: none;" class="bp-checkbox-column">
              <input type="checkbox" class="bp-checkbox" name="selected_ids[]" value="{{ b.pk }}" {% if b.is_chosen %}checked{% endif %} >
            </td>
            <td class="rank">{{ b.rank|default_if_none:forloop.counter }}</td>
            <td class="businessProblem{{b.business_problem.pk}}-summary">{{ b.business_problem.summary }}</td>
            <td>
              {{ b.final_score|floatformat:"-2" }}
              {% if b.is_chosen %}
                <span class="text-success">&#10003;</span>
              {% endif %}
            </td>
            <td>
              <form class="planning-event-business-problem-del-form"
                action="{% url 'strategy:planning_event_business_problem_delete' planning_event_id=event.pk business_problem_id=b.business_problem.pk %}"
                method="post">
                {% csrf_token %}
                <button type="submit" class="btn p-0 m-0">
                  <span class="material-symbols-outlined danger-hover">
                    delete
                  </span>
                </button>
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" class="text-center">No data available.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-2">
    <div class="d-flex justify-content-between mb-2">
      <h3>Strategies</h3>
      {% if strategies %}
      <div class="d-flex justify-content-between">
        <a href="{% url 'strategy:planning_event_strategy_score' planning_event_id=event.pk %}"
          class="btn" data-bs-toggle="tooltip" data-bs-title="Score" data-bs-placement="bottom">
          <span class="material-symbols-outlined">reviews</span>
        </a>
        <button id="strategy-select-button" type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Choose" data-bs-placement="bottom">
          <span class="material-symbols-outlined">check_circle</span>
        </button>
        <button id="strategy-cancel-button" type="button" class="btn btn-secondary ms-2" style="display: none;">Cancel</button>
        <button id="strategy-save-button" type="button" class="btn btn-primary ms-2" style="display: none;">Save</button>
      </div>
      {% endif %}
    </div>
    <div id="strategyList">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th style="display: none;" id="s-checkbox-header">Select</th>
            <th scope="col">Rank</th>
            <th scope="col">Summary</th>
            <th scope="col">Weighted Score</th>
          </tr>
        </thead>
        <tbody id="sortable-rows">
          {% for s in strategies %}
          <tr id="s-{{s.pk}}" data-id="{{ s.pk }}">
            <td style="display: none;" class="strategy-checkbox-column">
              <input type="checkbox" class="strategy-checkbox" name="selected_ids[]" value="{{ s.pk }}" {% if s.is_chosen %}checked{% endif %} >
            </td>
            <td class="rank">{{ s.rank|default_if_none:forloop.counter }}</td>
            <td class="strategy{{s.strategy.pk}}-summary">{{ s.strategy.summary }}</td>
            <td>
              {{ s.final_score|floatformat:"-2" }}
              {% if s.is_chosen %}
                <span class="text-success">&#10003;</span>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" class="text-center">No data available. Strategies will show up based on chosen business problems.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-2">
    <div class="d-flex justify-content-between mb-2">
      <h3>Projects</h3>
      {% if projects %}
      <div class="d-flex justify-content-between">
        <a href="{% url 'strategy:planning_event_project_score' planning_event_id=event.pk %}"
          class="btn" data-bs-toggle="tooltip" data-bs-title="Score" data-bs-placement="bottom">
          <span class="material-symbols-outlined">reviews</span>
        </a>
        <button id="project-select-button" type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Choose" data-bs-placement="bottom">
          <span class="material-symbols-outlined">check_circle</span>
        </button>
        <button id="project-cancel-button" type="button" class="btn btn-secondary ms-2" style="display: none;">Cancel</button>
        <button id="project-save-button" type="button" class="btn btn-primary ms-2" style="display: none;">Save</button>
      </div>
      {% endif %}
    </div>
    <div id="projectList">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th style="display: none;" id="s-checkbox-header">Select</th>
            <th scope="col">Rank</th>
            <th scope="col">Summary</th>
            <th scope="col">Weighted Score</th>
          </tr>
        </thead>
        <tbody id="sortable-rows">
          {% for p in projects %}
          <tr id="p-{{p.pk}}" data-id="{{ p.pk }}">
            <td style="display: none;" class="project-checkbox-column">
              <input type="checkbox" class="project-checkbox" name="selected_ids[]" value="{{ p.pk }}" {% if p.is_chosen %}checked{% endif %} >
            </td>
            <td class="rank">{{ p.rank|default_if_none:forloop.counter }}</td>
            <td class="project{{p.project.pk}}-summary">{{ p.project.summary }}</td>
            <td>
              {{ p.final_score|floatformat:"-2" }}
              {% if p.is_chosen %}
                <span class="text-success">&#10003;</span>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" class="text-center">No data available. Projects will show up based on chosen strategies.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<form id="criterion-weight-del-template" class="criterion-weight-del-form d-none" action="" method="post">
  {% csrf_token %}
  <button type="submit" class="btn p-0 m-0">
    <span class="material-symbols-outlined danger-hover">
      delete
    </span>
  </button>
</form>
<form id="planning-event-business-problem-del-template" class="planning-event-business-problem-del-form d-none"
  action="" method="post">
  {% csrf_token %}
  <button type="submit" class="btn p-0 m-0">
    <span class="material-symbols-outlined danger-hover">
      delete
    </span>
  </button>
</form>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="text/javascript">
  function addCriterionToTable(name, type, weight, pk, action) {
    // Create a new <tr> element
    var $newRow = $('<tr>')
      .attr("id", `criterion-weight-${pk}`);

    // Append <td> elements with the provided values
    $newRow.append($('<td>').text(name).addClass("criterion-weight-name"));
    $newRow.append($('<td>').text(type).addClass("criterion-weight-type"));
    $newRow.append($('<td>').text(weight).addClass("criterion-weight-weight"));

    // Create the action buttons (update and delete)
    var $actionTd = $('<td>').addClass("d-flex justify-content-center criterion-weight-actions");

    // Update button
    var $editSpan = $('<span>')
      .addClass("material-symbols-outlined primary-hover")
      .text("edit");
    var $updateButton = $('<button>')
      .addClass('btn p-0 me-2')
      .append($editSpan)
      .on('click', editCriterion);

    // Delete button
    var $deleteButton = $("#criterion-weight-del-template")
      .clone()
      .attr("id", `criterion-delform-${pk}`)
      .attr("action", action)
      .on("submit", deleteCriterion)
      .removeClass("d-none");

    // Append buttons to the action <td>
    $actionTd.append($updateButton).append($deleteButton);

    // Append the action <td> to the row
    $newRow.append($actionTd);

    // Append the new row to the table's <tbody>
    $('#criteriaTable tbody').append($newRow);
  }

  function deleteCriterion(event) {
    event.preventDefault();
    const form = $(this);
    const actionUrl = form.attr("action");
    const formData = form.serialize();
    $.ajax({
      type: 'POST',
      url: actionUrl,
      data: formData,
      success: function (response) {
        if (response.is_success) {
          form.closest("tr").remove();
          // TODO: Add toast success
        } else {
          alert(response.msg);
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }


  function addCrtierion(identifier) {
    var url = $(identifier).data("url");
    $.ajax({
      url: url,
      data: {},
      dataType: "json",
      success: function (data) {
        $("#criterionList").append(data.form);
        var form = $('#criterionList').find('form').last();
        form.submit(function (event) {
          event.preventDefault();
          var formData = $(this).serialize();
          $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            success: function (response) {
              if (response.is_success) {
                var name = form.find("#id_criterion").children("option").filter(":selected").text();
                var type = response.criterion_type;
                var weight = form.find("#id_weight").val();
                addCriterionToTable(name, type, weight, response.pk, response.action);
                form.parent("div").remove();
                // TODO: Add toast success
              } else {
                // TODO: Proper error/message handling
                alert(response.msg);
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
            }
          });
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }

  function editCriterion(identifier) {
    $.ajax({
      url: $(identifier).data("url"),
      data: {},
      dataType: "json",
      success: function (data) {
        $("#modal-title").html(data.title);
        $("#modal-body").html(data.body);
        if (data.footer) {
          $("#modal-footer").html(data.footer);
          $("#modal-footer").removeClass("d-none");
        }
        $("#criterion-weight-edit-form").on("submit", function (event) {
          event.preventDefault();
          var formData = $(this).serialize();
          $.ajax({
            type: 'POST',
            url: $(this).attr("action"),
            data: formData,
            success: function (response) {
              const modal = bootstrap.Modal.getInstance($('#modal'));
              modal.hide();
              if (response.is_success) {
                // TODO: Toast success message
                $(`#criterion-weight-${response.pk} .criterion-weight-weight`).text(response.weight);
              } else {
                // TODO: Proper error/message handling
                alert(response.msg);
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
            }
          });
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }

  function associateBusinessProblem(identifier) {
    $.ajax({
      url: $(identifier).data("url"),
      data: {},
      dataType: "json",
      success: function (data) {
        $("#modal-title").html(data.title);
        $("#modal-body").html(data.body);
        if (data.footer) {
          $("#modal-footer").html(data.footer);
          $("#modal-footer").removeClass("d-none");
        }
        $("#business-problem-associate-form").on("submit", function (event) {
          event.preventDefault();
          var formData = $(this).serialize();
          $.ajax({
            type: 'POST',
            url: $(this).attr("action"),
            data: formData,
            success: function (response) {
              const modal = bootstrap.Modal.getInstance($('#modal'));
              modal.hide();
              if (response.is_success) {
                // TODO: Toast success message
                var $businessproblem = $("<div>")
                  .attr("id", `businessProblem${response.business_problem_id}`)
                  .addClass("d-flex business-problem-item");
                var $summary = $("<p>")
                  .addClass(`me-1 businessProblem${response.business_problem_id}-summary`)
                  .text(response.summary);
                var $deleteButton = $("#planning-event-business-problem-del-template")
                  .clone()
                  .attr("id", `planning-event-business-problem-delform-${response.business_problem_id}`)
                  .attr("action", response.action)
                  .on("submit", deletePlanningEventBusinessProblem)
                  .removeClass("d-none");

                $businessproblem.append($summary).append($deleteButton);

                $("#businessProblemList").append($businessproblem);
              } else {
                // TODO: Proper error/message handling
                alert(response.msg);
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
            }
          });
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }

  function deletePlanningEventBusinessProblem(event) {
    event.preventDefault();
    const form = $(this);
    const actionUrl = form.attr("action");
    const formData = form.serialize();
    $.ajax({
      type: 'POST',
      url: actionUrl,
      data: formData,
      success: function (response) {
        if (response.is_success) {
          form.closest(".business-problem-item").remove();
          // TODO: Add toast success
        } else {
          alert(response.msg);
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }

  $(document).ready(function () {
    $(".criterion-weight-del-form").on("submit", deleteCriterion);
    $(".planning-event-business-problem-del-form").on("submit", deletePlanningEventBusinessProblem);

    // Make business problems sortable
    var sortable = new Sortable(document.getElementById('sortable-rows'), {
      animation: 150,
      onEnd: function (evt) {
        // Capture the new order of rows
        if (evt.oldIndex != evt.newIndex) {
          var new_order = [];
          $('#sortable-rows tr').each(function () {
            new_order.push($(this).data('id'));
          });
          // Send the new order to the server via AJAX
          $.ajax({
            type: 'POST',
            url: "{% url 'strategy:planning_event_business_problem_set_rank' planning_event_id=event.pk %}",
            data: {
              'new_order[]': new_order,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
              if (response.is_success) {
                $.each(response.order, function(key, value) {
                  $(`#peba-${key} .rank`).text(value);
                });
              } else {
                // TODO: Proper error handling
                console.error(response);
              }
            },
            error: function (response) {
              // TODO: Proper error handling
              console.error('An error occurred:', response);
            }
          });
        }
      }
    });

    // Show checkboxes on "Select" button click for business problems
    $('#bp-select-button').click(function () {
      $('.bp-checkbox-column, #bp-checkbox-header').show();
      $('#bp-save-button').show();
      $("#bp-cancel-button").show();
      $(this).hide();
    });

    // Hide buttons if cancelling select
    $("#bp-cancel-button").click(function() {
      $('#bp-save-button').hide();
      $('.bp-checkbox-column, #bp-checkbox-header').hide();
      $(this).hide();
      $('#bp-select-button').show();
    });

    // Submit selected rows on "Save" button click
    $('#bp-save-button').click(function () {
      // Gather IDs of selected rows
      var selected_ids = [];
      $('.bp-checkbox:checked').each(function () {
        selected_ids.push($(this).val());
      });
      // Send selected IDs to the server via AJAX
      $.ajax({
        type: 'POST',
        url: '{% url "strategy:planning_event_business_problem_choose" planning_event_id=event.pk %}',
        data: {
          'selected_ids[]': selected_ids,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response) {
          if (response.is_success) {
            // Reload the page or handle success (e.g., show a message)
            window.location.reload();
          } else {
            // TODO: Proper error handling
            console.error(response.msg);
          }
        },
        error: function (response) {
          console.error('An error occurred:', response);
        }
      });
    });

    // Show checkboxes on "Select" button click for strategy
    $('#strategy-select-button').click(function () {
      $('.strategy-checkbox-column, #strategy-checkbox-header').show();
      $('#strategy-save-button').show();
      $("#strategy-cancel-button").show();
      $(this).hide();
    });

    // Hide buttons if cancelling select
    $("#strategy-cancel-button").click(function() {
      $('#strategy-save-button').hide();
      $('.strategy-checkbox-column, #strategy-checkbox-header').hide();
      $(this).hide();
      $('#strategy-select-button').show();
    });

    // Submit selected rows on "Save" button click
    $('#strategy-save-button').click(function () {
      // Gather IDs of selected rows
      var selected_ids = [];
      $('.strategy-checkbox:checked').each(function () {
        selected_ids.push($(this).val());
      });
      // Send selected IDs to the server via AJAX
      $.ajax({
        type: 'POST',
        url: '{% url "strategy:planning_event_strategy_choose" planning_event_id=event.pk %}',
        data: {
          'selected_ids[]': selected_ids,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response) {
          if (response.is_success) {
            // Reload the page or handle success (e.g., show a message)
            window.location.reload();
          } else {
            // TODO: Proper error handling
            console.error(response.msg);
          }
        },
        error: function (response) {
          console.error('An error occurred:', response);
        }
      });
    });

    // Show checkboxes on "Select" button click for project
    $('#project-select-button').click(function () {
      $('.project-checkbox-column, #project-checkbox-header').show();
      $('#project-save-button').show();
      $("#project-cancel-button").show();
      $(this).hide();
    });

    // Hide buttons if cancelling select
    $("#project-cancel-button").click(function() {
      $('#project-save-button').hide();
      $('.project-checkbox-column, #project-checkbox-header').hide();
      $(this).hide();
      $('#project-select-button').show();
    });

    // Submit selected rows on "Save" button click
    $('#project-save-button').click(function () {
      // Gather IDs of selected rows
      var selected_ids = [];
      $('.project-checkbox:checked').each(function () {
        selected_ids.push($(this).val());
      });
      // Send selected IDs to the server via AJAX
      $.ajax({
        type: 'POST',
        url: '{% url "strategy:planning_event_project_choose" planning_event_id=event.pk %}',
        data: {
          'selected_ids[]': selected_ids,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response) {
          if (response.is_success) {
            // Reload the page or handle success (e.g., show a message)
            window.location.reload();
          } else {
            // TODO: Proper error handling
            console.error(response.msg);
          }
        },
        error: function (response) {
          console.error('An error occurred:', response);
        }
      });
    });
  });
</script>

{% endblock %}