{% extends "base.html" %}
{% load strategy_tags %}

{% block title %}Business Problem Scoring{% endblock %}

{% block body %}

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Business Problem</th>
            {% for criterion_weight in criterion_weights %}
              <th>{{ criterion_weight.criterion.name }} (Weight: {{ criterion_weight.weight }})</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for pebp in planning_event_bps %}
            <tr>
              <td>{{ pebp.business_problem.summary }}</td>
                {% for criterion_weight in criterion_weights %}
                  <td>
                    {% get_score scores_dict pebp.id criterion_weight.id as score %}
                    <input type="number" name="score_{{ pebp.id }}_{{ criterion_weight.id }}"
                      value="{{ score.score }}" min="1" max="10">
                  </td>
                {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button type="submit">Save Scores</button>
  </form>
</div>

{% endblock %}