{% extends "base.html" %}

{% block title %}Strategies{% endblock %}

{% block body %}

<div class="container">
  <h1>Strategies</h1>
  <div class="d-flex">
    <div class="flex-fill p-1">
      <input class="form-control" type="text" id="searchInput" onkeyup="searchTable(this)"
        placeholder="Search..." data-table="strategiesTable">
    </div>
    {% comment %}
    <div class="p-1">
      <a id="createStrategy" class="btn" href="{% url 'strategy:business_problem_create' %}">
        <span class="material-symbols-outlined">
          add
        </span>
      </a>
    </div>
    {% endcomment %}
  </div>
  <table id="strategiesTable" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Summary</th>
        <th>Create Date</th>
      </tr>
    </thead>
    {% for strategy in strategies %}
      <tr>
        <td><a href="{% url 'strategy:strategy_detail' strategy_id=strategy.pk %}">{{ strategy.summary }}</a></td>
        <td>{{ strategy.create_date }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
