{% extends "base.html" %}

{% block body %}

<div class="container">
  <h1>Let's get strategic</h1>
  <form method="POST" action="{% url 'account:signup' %}">
    {% csrf_token %}
    {% for field in registration_form.visible_fields %}
      <div class="text-start">
        <p>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small style="color:grey;">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color:red;">{{ error }}</p>
          {% endfor %}
        </p>
      </div>
    {% endfor %}
    {% for field in registration_form.hidden_fields %}
      <div style="display:none;">{{ field }}</div>
    {% endfor %}
    <div class="d-grid mt-2">
      <button class="btn btn-lg btn-primary" role="button" type="submit">Sign Up</button>
    </div>
    <!-- <p><small>By signing up you agree to our <a href="#">privacy policy</a> and <a href="#">terms of service</a>.</small></p> -->
  </form>
</div>

{% endblock %}