{% extends "base.html" %}

{% block title %}Time Periods{% endblock %}

{% block body %}

<div class="container">
  <h1>Time Periods</h1>
  <div class="d-flex">
    <div class="flex-fill p-1">
      <input class="form-control" type="text" id="searchInput" onkeyup="searchTable(this)"
        placeholder="Search..." data-table="timePeriodTable">
    </div>
    <div class="p-1">
      <button type="button" id="createTimePeriodBtn" class="btn" data-bs-toggle="modal" data-bs-target="#modal" onclick="createTimePeriod(this)" data-url="{% url 'account:time_period_create' %}">
        <span class="material-symbols-outlined">
          add
        </span>
      </button>
    </div>
  </div>
  <table id="timePeriodTable" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    {% for period in time_periods %}
      <tr>
        <td>
          <button type="button" id="editTimePeriodBtn" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#modal" onclick="editTimePeriod(this)" data-url="{% url 'account:time_period_edit' time_period_id=period.pk %}">
            {{ period.name }}
          </button>
        </td>
        <td>{{ period.start_date }}</td>
        <td>{{ period.end_date }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  function createTimePeriod(identifier) {
    $.ajax({
      url: $(identifier).data("url"),
      data: {},
      dataType: "json",
      success: function (data) {
        $("#modal-title").html(data.title);
        $("#modal-body").html(data.body);
        if (data.footer) {
          $("#modal-footer").html(data.footer);
          $("#modal-footer").removeClass("d-none")
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
  function editTimePeriod(identifier) {
    $.ajax({
      url: $(identifier).data("url"),
      data: {},
      dataType: "json",
      success: function (data) {
        $("#modal-title").html(data.title);
        $("#modal-body").html(data.body);
        if (data.footer) {
          $("#modal-footer").html(data.footer);
          $("#modal-footer").removeClass("d-none")
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
</script>

{% endblock %}