{% extends "base.html" %}

{% block title %}{{ time_period.name }}{% endblock %}

{% block body %}

<div class="container">
  <div class="d-flex justify-content-between">
    <h1>{{ time_period }}</h1>
    <button type="button" data-bs-toggle="modal" data-bs-target="#modal" onclick="editTimePeriod(this)" data-url="{% url 'account:time_period_edit' time_period_id=time_period.pk %}" class="btn primary-hover">
      <span class="material-symbols-outlined">
        edit
      </span>
    </button>
  </div>
  <hr>
  <h2>Hierarchy</h2>
  {% if time_period.parent %}
    <p>Parent: <a href="{% url 'account:time_period_detail' time_period_id=time_period.parent.pk %}">{{ time_period.parent.name }}</a></p> 
  {% endif %}
  <ul>
    {% include "account/time_period_hierarchy_node.html" with node=hierarchy %}
  </ul>
  <div>
    <h2>Planning Events</h2>
    <ul>
      {% for event in time_period.planningevent_set.all %}
        <li><a href="{% url 'strategy:planning_event_detail' planning_event_id=event.pk %}">{{ event.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h2>Business Problems</h2>
    <ul>
      {% for bp in time_period.businessproblem_set.all %}
        <li><a href="{% url 'strategy:business_problem_detail' business_problem_id=bp.pk %}">{{ bp.summary }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h2>Strategies</h2>
    <ul>
      {% for strategy in time_period.strategy_set.all %}
        <li><a href="{% url 'strategy:strategy_detail' strategy_id=strategy.pk %}">{{ strategy.summary }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h2>Projects</h2>
    <ul>
      {% for project in time_period.project_set.all %}
        <li><a href="{% url 'project:project_detail' project_id=project.pk %}">{{ project.summary }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  function editTimePeriod(identifier) {
    $.ajax({
      url: $(identifier).data("url"),
      data: {},
      dataType: "json",
      success: function (data) {
        $("#modal-title").html(data.title);
        $("#modal-body").html(data.body);
        if (data.footer) {
          $("#modal-footer").html(data.footer);
          $("#modal-footer").removeClass("d-none")
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Something went wrong. If the issue persists, please reach out to the Bould team.");
      }
    });
  }
</script>

{% endblock %}