{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="container">
  <h1>Users</h1>
  <div class="d-flex">
    <div class="flex-fill p-1">
      <input class="form-control" type="text" id="searchInput" onkeyup="searchTable(this)"
        placeholder="Search..." data-table="usersTable">
    </div>
    <div class="p-1">
      <a id="createUserBtn" class="btn" href="">
        <span class="material-symbols-outlined">
          add
        </span>
      </a>
    </div>
  </div>
  <table id="usersTable" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Last login</th>
        <th class="text-center">Is active</th>
      </tr>
    </thead>
    {% for user in users %}
      <tr>
        <td><a href="">{{ user.get_full_name }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.last_login }}</td>
        <td class="text-center">
          {% if user.is_active %}
            <span class="material-symbols-outlined">
              check_circle
            </span>
          {% else %}
            <span class="material-symbols-outlined">
              cancel
            </span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
