<div>
  {% if error %}
    <div class="" role="alert">
      {{ error }}
    </div>
  {% endif %}
  <form method="POST" action="{{ url }}" id="{{ form_id }}" class="mb-2">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
      {% for field in form.visible_fields %}
        <div class="col-auto">
          {{ field.label_tag }}
        </div>
        <div class="col">
          {{ field }}
        </div>
      {% endfor %}
      <div class="col-auto">
        <button class="btn btn-primary" role="button" type="submit">{{ button }}</button>
      </div>
    </div>
    {% for field in form.hidden_fields %}
      <div style="display:none;">{{ field }}</div>
    {% endfor %}
  </form>
</div>